@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 65%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem {
        max-width: 100%;
        height: auto;
    }

    .conteúdo {
        justify-content: flex-end;
        left: 0;
        top: -10%;
        max-width: 100vw;
        padding: 5vw;
    }

    .conteúdo .nome-personagem {
        font-size: clamp(20px, 4vw, 36px);
    }

    .conteúdo .descricao {
        max-width: 90%;
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 5vw;
    }

    .botoes .botao img {
        max-width: 60px;
    }
}

@media (max-width: 425px) {
    main .personagem .imagem {
        max-width: 100%;
        height: auto;
    }

    .conteúdo .logo {
        width: 150px;
        height: auto;
    }

    .conteúdo {
        top: -20px;
        padding: 4vw;
    }

    .conteúdo .nome-personagem {
        font-size: clamp(18px, 5vw, 24px);
    }

    .botoes {
        padding: 4vw;
        top: -10px;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}
